<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Duff Bank KYC Credential Application</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <main class="card">
    <div class="img-wrapper">
      <div id="qrcode"></div>
    </div>
    <section>
      <h1>Duff Bank Credential Application</h1>
      <p>
        We need some information from you. Please scan the QR code to get
        started.
      </p>
      <div class="link">
        <a target="_blank" href="web5://credentials/issuance?url=http://localhost:3000/issuer">
          web5://credentials/issuance?url=http://localhost:3000/issuer</a>
      </div>
    </section>
    <script type="module" src="/js/home.js"></script>
    <script type="module" src="/js/utils/error.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js"></script>
  </main>
</body>

</html>