<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>Welcome to <%= title %>
  </h1>

  <div id="qrcode"></div>
  <a
    href="web5://credentials/issuance?url=http://localhost:3000/issue-credential">web5://credentials/issuance?url=http://localhost:3000/issue-credential</a>
  <script src="https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js"></script>
  <script type="module" src="/js/index.js"></script>
  <script type="module" src="/js/utils/error.js"></script>
</body>

</html>