<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KYC Application Form</title>
  <link rel="stylesheet" href="/css/issuer.css">
</head>

<body>

  <div class="container">
    <h2>Application for Duff Bank</h2>
    <div class="form-group">
      <p>In order to process your application please provide a Drivers License and Passport credential from your digital
        wallet.</p>
    </div>
    <button class="btn" id="requestCredentialsButton" onclick="requestCredentials()">Provide First
      Name</button>
    <button class="btn disabled" disabled id="issueDidsButton" onclick="requestDid()">Issue Credential</button>
  </div>
  <script type="module" src="/js/issuer.js"></script>
  <script type="module" src="/js/utils/error.js"></script>
</body>

</html>