<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KYC Application Form</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: rgb(248, 219, 39);
        margin: 0;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        box-sizing: border-box;
      }
      .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 400px;
        width: 100%;
      }
      h2 {
        color: #333;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
      }
      .form-group {
        margin-bottom: 20px;
      }
      label {
        display: block;
        margin-bottom: 10px;
        color: #333;
      }
      input[type="text"],
      input[type="date"],
      input[type="number"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        box-sizing: border-box;
      }
      .radio-group {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
      }
      .radio-group label {
        margin: 0;
      }
      .btn {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        background-color: rgb(248, 219, 39);
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <form action="/issue-credential-3" method="post">
      <div class="container">
        <h2>Application for ACME KYC Credential</h2>
        <div class="form-group">
          <label for="firstName">First Name Jwt</label>
          <input
            type="text"
            id="firstNameJwt"
            name="firstName"
            value="eyJ0eXAiOiJKV1QiLCJhbGciOiJFZERTQSIsImtpZCI6ImRpZDprZXk6ejZNa3NheE5VNGl1ZHlYRm5KaVJpSll1ZXZLM0pKbzhoMVZYR0M4c0Jzb0JOV0J6I3o2TWtzYXhOVTRpdWR5WEZuSmlSaUpZdWV2SzNKSm84aDFWWEdDOHNCc29CTldCeiJ9.eyJ2YyI6eyJAY29udGV4dCI6WyJodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscy92MSJdLCJ0eXBlIjpbIlZlcmlmaWFibGVDcmVkZW50aWFsIiwiRmlyc3ROYW1lIl0sImlkIjoidXJuOnV1aWQ6MTQyYzUzOTAtNDVlMC00MjQ2LWI4ZGYtMDM4M2YyMTc3Njg4IiwiaXNzdWVyIjoiZGlkOmtleTp6Nk1rc2F4TlU0aXVkeVhGbkppUmlKWXVldkszSkpvOGgxVlhHQzhzQnNvQk5XQnoiLCJpc3N1YW5jZURhdGUiOiIyMDI0LTAxLTEyVDIzOjIxOjA5WiIsImNyZWRlbnRpYWxTdWJqZWN0Ijp7ImlkIjoiZGlkOmtleTp6Nk1rc2F4TlU0aXVkeVhGbkppUmlKWXVldkszSkpvOGgxVlhHQzhzQnNvQk5XQnoiLCJmaXJzdE5hbWUiOiJTYXRvc2hpIn19LCJpc3MiOiJkaWQ6a2V5Ono2TWtzYXhOVTRpdWR5WEZuSmlSaUpZdWV2SzNKSm84aDFWWEdDOHNCc29CTldCeiIsInN1YiI6ImRpZDprZXk6ejZNa3NheE5VNGl1ZHlYRm5KaVJpSll1ZXZLM0pKbzhoMVZYR0M4c0Jzb0JOV0J6In0.1qwiaiBXZJszwhChYI4V4H_ad_tLq9YsfE4pcStyjJwXjyH7UKp0OodXtoJaLP1cbV27KyNBaI0ntoTgTJelBw"
          />
        </div>
        <button class="btn" type="submit">Next</button>
      </div>
    </form>
    <script type="module" src="/js/issuer3IssueCred.js"></script>
  </body>
</html>
