<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    </head>
    <body>
    <div id="issuedCred"></div>
    
    <h1>Let's issue you a credential</h1>
    <button onclick="issueCred()">Get Credential</button>

    <script src="/js/issuecred.js"></script>
    </body>
</html>

