<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <main>
        <h1>Issue TBD Credential Wallet Webview</h1>
        <div id="didResponse"></div>
        <button onclick="requestDid()">Issue Credential</button>
    </main>
    <script type="module" src="/js/utils/error.js"></script>
    <script type="module" src="/js/issuecred.js"></script>
</body>

</html>