:root {
  --teal: #008c8c;
  --dark-teal: #005050;
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--teal);
  font-family: var(--font);
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  width: 18em;
  padding: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card section {
  padding: 2px 0;
}

.card h1 {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 1.4rem;
}

.card p {
  color: var(--grayish-blue);
  font-weight: 400;
  padding: 0 1em;
  font-size: 0.99rem;
}

.card img {
  max-width: 100%;
  display: block;
}

.img-wrapper {
  position: relative;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
}

.link {
  padding: 1rem 0;
  color: var(--dark-teal);
  font-size: 11px;
  text-align: center;
}

.link a {
  color: var(--dark-teal);
}

.img-wrapper::before,
.img-wrapper::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.08);
  content: "";
  height: 305px;
}

.img-wrapper::before {
  transform-origin: left top;
}

.img-wrapper::after {
  transform-origin: right bottom;
}

.card:hover,
.card:focus {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 27px;

  .img-wrapper::before,
  .img-wrapper::after,
  .img-wrapper::before,
  .img-wrapper::after {
    transform: scale3d(1, 1, 1);
  }
}
